.NavbarBrand {
    letter-spacing: 2px;
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 5px;
    
}

.Navbar{
    box-shadow: 5px 10px 18px #888888;
}

.inline {
    display: inline-block;
}